body {
    font-family: Arial,  sans-serif;
    margin: 0;
    background-color: #fff8f0;
    color: #333;
    text-align: center;
    padding: 0 10px;
}

header {
    background-color: rgb(255, 80, 95);
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.apresentacao {
    background-image: url("imagens/bolocapa.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.conteudo-apresentacao {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1rem;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.produto {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    width: 230px;
    color: #ff7f50;
    flex: 1 1 250px;
    max-width: 300px;
    box-sizing: border-box;
}

.produto p {
    font-size: 1.5rem;
    font-weight: bold;
}

.produto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.whatsapp-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #25d366;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.whatsapp-btn .fa-whatsapp { 
    color: #fff !important;
}



.whatsapp-btn:hover {
    background-color: #1ebd5a;
    transform: scale(1.05);
}

@media(max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }


}

footer{
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.fab.fa-instagram {
    font-size: 24px;
    color: #E4405F;
}

.fab.fa-instagram:hover {
    color: #C13584;
}

.fab.fa-whatsapp {
    font-size: 24px;
    color:#25d366;
}

.fab.fa-whatsapp:hover {
    color: #1ebd5a;
}